@model WordStockRoom.Models.WordDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<div>
    <h4>WordDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WordName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WordName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Translation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Translation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartOfSpeech)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartOfSpeech)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sentences)
        </dt>

        @foreach (var item in ViewBag.Sentences)
        {
            <dd>
                @item.SentenceContent
            </dd>

            <dd>
                @item.SentenceTranslation
            </dd>

            <dd>
                @Html.ActionLink("Edit", "Edit", "Sentence", new { wordId = Model.WordId, id = item.SentenceId }, null) |
                @Html.ActionLink("Delete", "Delete", "Sentence", new { wordId = Model.WordId, id = item.SentenceId }, null)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Videos)
        </dt>

        @foreach (var item in ViewBag.Videos)
        {
            <dd>
                @Html.ActionLink((string)item.Description, "Details", "Video", new { wordId = Model.WordId, id = item.VideoId }, null)
            </dd>

            <dd>
                @Html.ActionLink("Edit", "Edit", "Video", new { wordId = Model.WordId, id = item.VideoId }, null) |
                @Html.ActionLink("Delete", "Delete", "Video", new { wordId = Model.WordId, id = item.VideoId }, null)
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Add Sentence", "Create", "Sentence", new { Model.WordId }, null) |
    @Html.ActionLink("Add Video", "Create", "Video", new { Model.WordId }, null) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.WordId }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.WordId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
