@model IEnumerable<WordStockRoom.Models.WordListItem>

@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/css")

<body style="background-color: #424242; color: #ABABAB;">
    <h2>@ViewData["Language"]</h2>

    <p>
        @Html.ActionLink("Add Word", "Create")
    </p>
    @if (TempData.ContainsKey("SaveResult"))
    {
        <div class="alert alert-success fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
            @TempData["SaveResult"]
        </div>
    }

    @foreach (var item in Model)
    {
        <button class="col-md-12" id="wordButton" style="outline: none; background-color: lightgrey; margin: 1em auto; border: black; border-radius: 1em; box-shadow: 0 0 20px #110140; text-align: center;">
            <h2 id="word">@Html.ActionLink(item.WordName, "Details", new { id = item.WordId })</h2>
            <h4 id="translation">@Html.DisplayFor(modelItem => item.Translation)</h4>
        </button>
    }
    @Html.ActionLink("Back to Languages", "Index", "Language") |
    @Html.ActionLink("Go to Flashcards", "Flashcard")
</body>

<style>
    #word:active + #translation {
        color: lightgrey;
    }

    #translation {
        opacity: 0;
    }

    #wordButton:active #translation {
        opacity: 1;
    }
</style>